<link rel="stylesheet" href="static/css/login.css">
<div id="wrapper">
	<div class="register">
		<div id="formdiv">
			<h3 style="color:black;"><a href="#!/">Login</a> | Register</h3>
			<form name="registerForm" style="color:black;">
				Name: <input type="text" ng-model="newUser.name" name="name" ng-minlength="2" required><br>
				<div ng-messages="registerForm.name.$error" role="alert">
					<span ng-message="required">Name is required</span>
					<span ng-message="minlength">Name must be at least 2 characters</span>
				</div>
				Email: <input type="email" ng-model="newUser.email" name="email" required><br>
				<div ng-messages="registerForm.email.$error">
					<span ng-message="required">Email is required</span>
					<span ng-message="email">Email must be formatted correctly.</span>
				</div>
				Password: <input type="password" ng-model="newUser.password" name="password" minlength="8" required><br>
				<div ng-messages="registerForm.password.$error">
					<span ng-message="required">Password is required</span>
					<span ng-message="minlength">Password must be at least 8 characters</span>
				</div>
				Confirm: <input type="password" ng-model="newUser.password_confirmation" name="password_conf"><br>
				<span ng-if="newUser.password != newUser.password_confirmation">Passwords do not match.</span>
				<button ng-disabled="registerForm.$invalid" ng-click="register(newUser)">Register</button>
			</form>
		</div>
	</div>
</div>
