*{
  margin: 0px;
  padding: 0px;
}
body{
  /*background-image: url("space.jpg");*/
}
h2{
  font-size: 30px;
  font-family: "Verdana", Geneva, sans-serif;
}
#links{
  font-size: 15px;
  font-family: "Verdana", Geneva, sans-serif;
  text-decoration: none;
  padding: 2px;
  background-color: rgba(234, 234, 234, 0.5)
  border: 5px outset;
  margin-left: 450px;
  color: white;
}
#links:hover{
  background-color: black;
  border: 2px outset white;
}
#wrapper{
  width: 1024px;
  height: 768px;
}
/*.topfive{
  width: 200px;
  height: 400px;
  background-color: rgba(234, 234, 234, 0.5);
  display: inline-block;
  vertical-align: top;
}*/
/*.explain{
  width: 800px;
  height: 100px;
  background-color: rgba(234, 234, 234, 0.5);
}*/
